<nz-header style="background: #fff; padding:0;">
  <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="toogleEvent(isCollapsed)"></i>
  <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" style="float: right; margin-right: 18px;">
    <a nz-dropdown>
      Click me
      <i class="anticon anticon-down"></i>
    </a>
    <ul nz-menu>
      <li nz-menu-item>
        <a routerLink="/login">
          <i class="anticon anticon-logout"></i>
          退出
        </a>
      </li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-divider></li>
    </ul>
  </nz-dropdown>
</nz-header>
