<div class="work-space-container">
  <nz-layout style="width: 100%; height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzBreakpoint]="'lg'">
      <app-nav-sider [isCollapsed]="isCollapsed"></app-nav-sider>
    </nz-sider>
    <nz-layout>
      <app-top-header [isCollapsed]="isCollapsed" (onVoted)="onVoted($event)"></app-top-header>
      <nz-content style="margin:0 16px; height: 100%;">
        <nz-breadcrumb style="margin:16px 0;">
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="padding:24px; background: #fff; min-height: 360px; height: 100%; font-size: 30px;">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
  <ng-template #trigger>
    <i class="anticon anticon-up"></i>
  </ng-template>
</div>
